@import url('https://basehold.it/12');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*
  Baseline grid: 24px
  Base font-size: 19px
*/

/* Base Styles */
html {
  background: #EEE;
  color: #222;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 19px;
  line-height: 24px;
  padding: 24px;
}
h1,
h2,
figcaption,
nav,
p {
  padding-bottom: 24px; /* Full line-height */
}

/*
Old-school way of clearing floats:
*/
/*
section {
  float: none;
  clear: both;
}
*/

h1 {
  padding: 24px 0;
}
/* Responsive Images */
img {
  display: block;
  max-width: 100%;
  border: 1px solid #EEE;
  box-sizing: border-box;
}

/* Layout */

/* Modular */
.nav li {
  padding-bottom: 6px;
}
.nav a {
  display: block;
  text-decoration: none;
  background: #ecd0aa;
  color: #222;
  padding: 12px;
}
.nav a:hover {
  background: #a6733d;
}
/* State */

@media screen and (min-width: 330px) {
/*
  .nav::after {
    content: "";
    display: block;
    clear: both;
    float: none;
  }
  .nav li {
    float: left;
    text-align: center;
    width: 33.3333333333%;
  }
  .nav a {
    margin-right: 12px;
  }
  .nav li:last-child a {
    margin-right: 0;
  }
*/
  .nav {
    display: flex;
    /* gap: 12px; We need to figure out how to @supports this... */
  }
  .nav li {
    flex: 1 1 auto;
    text-align: center;
    margin-right: 12px;
  }
  .nav li:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 400px) {
  figure::after,
  section::after {
    content: "";
    display: block;
    clear: both;
    float: none;
  }
  figure img {
    float: left;
    width: 50%;
  }
  figure {
    margin-bottom: 36px;
    clear: both;
    float: none;
  }
  figcaption {
    padding-left: 52%; /* All browsers get this close-enough value... */
    padding-left: calc(50% + 12px); /* calc()-supporting browsers get the precise value. */
    padding-right: 12px;
  }
}

@media screen and (min-width: 630px) {
  .nav {
    width: 66.66666667%;
    margin-left: auto;
  }
}
